.Student {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 10px;
}

.Student__button {
  display: flex;
  align-items: center;
}

.Student__form {
  display: flex;
  flex-direction: column;
  margin-right: 94px;
}
